@import 'https://fonts.googleapis.com/css?family=Roboto:400,700';
/**
 * @preserve
 * sharer.js-with-css
 *
 * @description Beautiful Sharer.js buttons with CSS3 only
 * @version 1.0
 * @author Muhammad Arslan Aslam <hello@arslanaslam.me>
 * @license MIT License
 *
 */
button { font-family: 'Roboto', sans-serif;}
.sharer-btn { color: #333; background: #e6e6e6; padding: 12px 24px 12px 24px; text-transform: uppercase; border-top: 0px; border-left: 0px; border-right: 0px; border-bottom: 4px solid #ccc; border-radius: 4px; font-weight: bold; opacity: 0.7; outline: none; cursor: pointer; }
.sharer-btn:hover { opacity: 1; }
.sharer-btn:active { -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125); -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.125); -o-box-shadow: inset 0 3px 5px rgba(0,0,0,.125); box-shadow: inset 0 3px 5px rgba(0,0,0,.125); border-bottom: 2px solid #0084b4; border-spacing: 4px; }
.sharer-btn:focus { outline: none; }
button[data-sharer=twitter] { background: #00aced; color: #fff; border-color: #0084b4; }
button[data-sharer=facebook] { background: #3b5998; color: #fff; border-color: #19397D; }
button[data-sharer=linkedin] { background: #0077B5; color: #fff; border-color: #005481; }
button[data-sharer=googleplus] { background: #d34836; color: #fff; border-color: #943428; }
button[data-sharer=email] { background: #666666; color: #fff; border-color: #222222; }
button[data-sharer=okru] { background: #EE8208; color: #fff; border-color: #C46C07; }
button[data-sharer=baidu] { background: #2319DC; color: #fff; border-color: #1B149F; }
button[data-sharer=blogger] { background: #f26300; color: #fff; border-color: #AD4800; }
button[data-sharer=myspace] { background: #231F1E; color: #fff; border-color: #000; }
button[data-sharer=renren] { background: #035AA1; color: #fff; border-color: #01325A; }
button[data-sharer=weibo] { background: #E6162D; color: #fff; border-color: #AB1224; }
button[data-sharer=flipboard] { background: #E32A29; color: #fff; border-color: #A21F1F; }
button[data-sharer=stumbleupon] { background: #EB4924; color: #fff; border-color: #A03118; }
button[data-sharer=digg] { background: #231F1E; color: #fff; border-color: #000; }
button[data-sharer=pocket] { background: #EE4056; color: #fff; border-color: #AD2D3E; }
button[data-sharer=instapaper] { background: #aaa; color: #fff; border-color: #7B7A7A; }
button[data-sharer=line] { background: #00B900; color: #fff; border-color: #016F01; }
button[data-sharer=xing] { background: #006464; color: #fff; border-color: #135353; }
button[data-sharer=buffer] { background: #231F1E; color: #fff; border-color: #000; }
button[data-sharer=vk] { background: #4C75A3; color: #fff; border-color: #344D69; }
button[data-sharer=reddit] { background: #FF4500; color: #fff; border-color: #AB2E01; }
button[data-sharer=hackernews] { background: #1be022; color: #fff; border-color: #16981B; }
button[data-sharer=tumblr] { background: #36465D; color: #fff; border-color: #19212B; }
button[data-sharer=pinterest] { background: #BD081C; color: #fff; border-color: #790310; }
button[data-sharer=viber] { background: #7B519C; color: #fff; border-color: #422955; }
button[data-sharer=telegram] { background: #2CA5E0; color: #fff; border-color: #1A6990; }
button[data-sharer=whatsapp] { background: #4EC95C; color: #fff; border-color: #34863E; }
